.ruta7lagos-map-container {
  width: 100%;
  height: calc(100vh - 60px); /* Account for the main menu height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.ruta7lagos-map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
