.dashboard-container {
  display: flex;
  height: calc(100vh - 60px);
  width: 100vw;
}

.map-pane {
  flex: 1;
  height: 100%;
}

.video-pane {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background-color: #1a1a1a; /* Ensure background color for the pane */
}
